@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.brown.100");
  color: theme("colors.brown.900");
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: theme("fontFamily.body");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.display");
  font-weight: theme("fontWeight.normal");
  line-height: 1.4;
  margin-bottom: theme("spacing.4");
}

h1,
h2 {
  font-size: theme("fontSize.5xl");
}

h3 {
  font-size: theme("fontSize.4xl");
}

h4 {
  font-size: theme("fontSize.3xl");
}

h5 {
  font-size: theme("fontSize.2xl");
}

h6 {
  font-size: theme("fontSize.xl");
}

a {
  text-decoration: underline;
}

p {
  margin-bottom: theme("spacing.4");
}

svg,
svg g,
svg path {
  stroke: currentColor;
  stroke-width: 2;
}

.logo {
  svg,
  svg g,
  svg path {
    stroke-width: 5px;
  }
}

main {
  ol {
    list-style-type: decimal;
    margin-left: theme("spacing.5");
  }

  ul {
    list-style-type: disc;
    margin-left: theme("spacing.5");
  }

  ul li {
    padding-left: theme("spacing.8");
  }

  blockquote {
    border: theme("borderWidth.default") solid theme("borderColor.current");
    padding: theme("spacing.8");
    display: flex;
    align-items: center;
    justify-content: center;
    width: theme("width.3/5");
    margin: 0 auto theme("spacing.4");

    p {
      margin: 0;
    }
  }

  pre {
    white-space: pre-wrap;
    // background-color: theme("colors.black");
    // color: theme("colors.white");
    // padding: theme("spacing.8");
    margin: 0 0 theme("spacing.8");
  }
}
